@media only screen and (max-width: 750px){
.logo{
    margin-top: 20px;
    margin-left: 10px;
}
.logo1{
    width: 70px;
}
.logo2{
    width: 130px;
}
header{
    position: relative;
}

header ul{
    width: 100%;
    background: #ebf1ef;
    max-height: 0px;
    overflow: hidden;
}
.showing{
    max-height: 100em;
}
header ul li{
    width: 100%;
}
header ul li ul{
    position: static;
    /* display: block; */
    width: 100%;
}
header ul li ul li a{
    text-align: left;
    padding-left: 50px;
}
header .menu-toggle{
    display: block;
    position: absolute;
    right: 20px;
    top: 35px;
}
}
